

* {
    box-sizing: border-box;
}

body {
    background-color: #22262a ;
    font-family: 'Fira Code', monospace;
    color: #E0E1DD;
}

h1 {
    font-family: 'Fira Code', monospace;
    color:#E0E1DD;
    font-weight: 800;
    font-size: 2.8rem;
}








