
.skills {
    padding-top: 2rem;
    padding-bottom: 6rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.skills__container {
    width: 60%;
    display: grid;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr ));
    margin: 0 auto;
}

.skills__title {
   text-align: center;
   padding-top: 2rem;
   padding-bottom: 6rem;
}
   
.skill__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    border-radius: 2rem;
}
        
.skill__img {
    width: 150px;
    height: 150px;
}

.skill__name {
    padding-top: 0.6rem;
    font-size: 1.2rem;
    font-weight: 400;
}

